<footer>
	<div class="container">
		<nav>
			<ul class="footer-links">
				<li><%= link_to "Home", 	 root_path %></li>
				<li><%= link_to "About", 	 about_path %></li>
				<li><%= link_to "Help", 	 help_path %></li>
				<li><%= link_to "Sign Up", signup_path %></li>
				<li><%= link_to "Sign In", '#' %></li>
			</ul>
		</nav>
		<div class="center">#madeinswagland</div>
	</div>
</footer>